.document_not_found {
	background-color: 	#ef8d8d
}

.document_found {
	background-color: 	#9cea8a
}

.color_everis {
	background-color: 	#A6B91D
}

.tabla_thead_titles {
	color: white
}